.OMC {
  width: 88%;
  height: 63%;
}

.home_navigation {
  padding-left: 3% !important;
}

.search_navigation {
  padding-left: 8% !important;
}

.account_navigation {
  float: right;
}

.course_list {
  border-radius: 20px !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3) !important;
  transition: all ease-in-out 0.3s !important;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 30px !important;
}

.category_course_item_main_panel {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}

.category_course_icon {
  margin-right: 10px;
  font-size: 18px;
  height: 30px;
  text-align: center;
}

.category_course_name {
  width: 100%;
  text-decoration: none;
  position: relative;
}

.menu-header {
  border-bottom: 1px solid rgba(76, 87, 102, 0.1) !important;
  width: 100% !important;
  z-index: 999;
  transition: all 0.3s ease-in-out !important;
  background-color: #15165f !important;
  min-height: 48px !important;
  padding: 3px 0 !important;
  top: 0;
  position: fixed;
}

.logo-header {
  color: white !important;
  padding: 2px 15px 0px !important;
  font-size: .875rem !important;
  font-weight: 500 !important;
}

.body {
  background: #f1f1f1;
  font-size: 14px;
  line-height: 1.4;
  font-family: Poppins, Helvetica, sans-serif !important;
  color: #555;
}

.category_index {
  border-radius: 15px 15px 0 0;
  background: #f5f5f5;
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 13px 24px 13px 12px;
  overflow: hidden;
  text-align: center;
}

.category_box {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  width: 30%;
  max-height: 400px;
}

.category_item {
  background-color: #fff;
  display: block;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.home_layout {
  margin-top: 135px;
}

.course_info_layout {
  max-height: 400px;
}

.item_button {
  border: none !important;
  color: white !important;
  background: #e74e84 !important;
  cursor: pointer !important;
  padding: 7px 20px !important;
  display: inline-block !important;
  outline: 0 !important;
  font-size: 14px !important;
  font-size: .875rem !important;
  transition: all .3s ease-in-out !important;
  font-weight: 500 !important;
  margin-top: 5px;
}

.ant-btn-primary {
  border: none !important;
  color: white !important;
  background: #e74e84 !important;
  cursor: pointer !important;
  padding: 7px 20px !important;
  display: inline-block !important;
  outline: 0 !important;
  font-size: 14px !important;
  font-size: .875rem !important;
  transition: all .3s ease-in-out !important;
  font-weight: 500 !important;
}

.title {
  text-align: center;
}

.input_body{
  margin-top: 5px;
}

.small_button {
  margin: 1.5px;
  border: none !important;
  color: #fff !important;
  background: #e74e84 !important;
  cursor: pointer !important;
  padding: 7px 20px !important;
  display: inline-block !important;
  outline: 0 !important;
  font-size: 14px !important;
  font-size: .875rem !important;
  transition: all .3s ease-in-out !important;
  font-weight: 500 !important;
}

.viewer {
  width: 0.5em;
  margin: 8px;
}

.modal-create-question {
  width: 80% !important;
}

.nav_question {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

.question_items {
  cursor: pointer;
  border-radius: 20px;
  transition: all ease-in-out 0.4s;
}

.inline-grid {
  display: grid !important;
}

.setting-title {
  width: 100%;
  text-align: left;
  font-family: SourceSansPro;
  font-weight: 600;
}

.question-content {
  padding: 1%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.input-question {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title-custom {
  font-weight: 500;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 0;
  font-family: sans-serif;
  color: gray;
}

.ant-layout-sider {
  background-color: white !important;
}

.ant-layout-content {
  background-color: white !important;
}

.create-ex-fix-btn {
  border: 0 !important;
}

.border-create-question {
  border: 1px solid #ced4da;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
}

.button-close {
  float: right !important;
  background-color: white !important;
  border-radius: 40px !important;
  position: absolute !important;
  top: 25% !important;
  right: 0 !important;
  height: 20px !important;
  width: 20px !important;
  padding: 0px 0px 1px 0px !important;
  margin: 0 !important;
  color: #c54848 !important;
}

.resize_none_text_area{
  resize: none;
}

.in_correct {
  border: 1px solid red;
}
