
.pass-course {
    margin: 2%;
}

.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 105%;
    margin-right: 3%;
}

.upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}

.upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}

.image-search {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 5%;
    border: 1px solid #1d8efb;
}

.image-search-mini {
    width: 8%;
    height: 100%;
    object-fit: contain;
}

.display-flex {
    display: flex;
    align-items: center;
}

.course-utility-item img {
    width: 70px;
    height: 45px;
    margin-right: 10px;
}

.chart-panel {
    display: flex;
    align-items: center;
    background: #fafafa;
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 0;
}

element.style {
    width: 500px;
    display: flex;
}

.main-evaluate-panel {
    align-items: center;
    width: 500px;
    display: flex;
}

.main-evaluate-panel .left-panel {
    width: 175px;
    text-align: center;
}

.main-evaluate-panel .center-line {
    width: 3px;
    height: 100px;
    background: #eeeeee;
    margin-right: 35px;
}

.main-evaluate-panel .right-panel {
    width: calc(100% - 175px);
}

.evaluate-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 7px;
}

.style_rate1 {
    width: 300px;
    background-color: rgb(87, 187, 138);
}

.style_rate2 {
    background-color: rgb(154, 206, 106);
}

.style_rate3 {
    background-color: rgb(255, 207, 2);
}

.style_rate4 {
    background-color: rgb(255, 159, 2);
}

.style_rate5 {
    background-color: rgb(255, 111, 49);
}

.set_rate {
    color: rgb(85, 85, 85);
    padding-top: 10px;
}

.size_font {
    font-size: 12px;
}

.rate_size {
    font-size: 12px;
}

.bg-feedback {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.title-feebback {
    font-size: 25px;
}

.short-line {
    background-color: #3a89fb;
    width: 100px;
    height: 4px;
    margin: 10px 0;
}

.des-feddback {
    color: #ddd;
    font-weight: 200;
    font-size: 13px;
    font-family: SourceSansPro;
    font-style: italic;
}

.frame-des {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    position: relative;
    margin-bottom: 25px;
    font-family: SourceSansPro;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 13px;
    height: 130px
}

.director-avatar {
    border-radius: 100%;
    border: 1px solid #ffffff7a;
    width: 80px;
    height: 80px;
}

.frame-des:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: rgba(0, 0, 0, 0.35) transparent transparent transparent;
    position: absolute;
    bottom: -18px;
    left: 20px;
}

.owl-theme .owl-controls {
    margin-top: 0
}

.director-info > * {
    display: inline-block;
    vertical-align: middle;
}

.director-name {
    width: cacl(100% -100px);
}

.director-name > p {
    margin-bottom: 0;
    font-weight: 200;
    padding-left: 10px;
}

.director-name p:nth-child(2) {
    font-weight: 400;
}

.director-name p:nth-child(2) {
    font-size: 13px;
    font-family: SourceSansPro;
    font-style: italic;
}

.director-name p:nth-child(3) {
    font-weight: 400;
}

.director-name p:nth-child(3) {
    font-size: 13px;
    font-family: SourceSansPro;
    font-style: italic;
}

.slide-feedback .owl-page span {
    border-radius: 0 !important;
    background-color: white !important;
}

.slide-feedback .owl-page.active span {
    background-color: #3a89fb !important;
}

.bg-feedback .feedback-parent-panel-1,
.bg-feedback .feedback-parent-panel-2 {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.line-col {
    background: #ffffff94;
    width: 1px;
    height: calc(100% - 50px);
    position: absolute;
    left: 50%;
    top: 25px;
}

.mg-des-feddback {
    margin-bottom: 20px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .bg-feedback {
        background-size: 5000px;
    }

    .bg-feedback .feedback-parent-panel-2 {
        padding-left: 0px !important;
    }

    .line-col {
        display: none;
    }
}

.filter-panel {
    margin-top: 4% !important;
    margin-bottom: 1%;
}

.font_tt_size {
    font-size: 10px;
    color: #495057;
}

.filter-panel {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.filter-label {
    background: #333;
    color: white;
    padding: 6px 15px;
    border-radius: 30px;
}

.select-form {
    margin-right: 25px;
}

.select-form label {
    margin-bottom: 0px;
}

.select-form select {
    height: 30px;
    background: #fff;
}

@media (max-width: 768px) {
    .filter-panel {
        flex-wrap: wrap;
    }

    .filter-panel > * {
        margin-bottom: 7px;
    }
}

.select-form {
    margin-right: 25px;
}

.tr_size {
    width: 800px;
    height: 800px;
}

.padding_right_with_col .this_is_block_panel_main_parent {
    padding-right: 5px;
}

.LOC {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.BOC {
    display: inline-block;
    font-size: 1em;
    vertical-align: top;
    height: 40px;
    overflow: hidden;
}

.GOC {
    display: inline-block;
    color: #0ab15c;
    font-size: 1em;
    vertical-align: top;
    height: 40px;
    margin-left: 110px;
}

.FOC {
    overflow: hidden;
    width: 100%;
}

.EOC {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding-right: 3px;
    left: 10px;
}

.DOC {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    left: 10px;
}

.content_size {
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
}

.td_size {
    width: 20px;
}

.row_set {
    text-align: center;
}

.padding_right_with_col .this_is_block_panel_main_parent {
    padding-right: 5px;
}

.this_is_block_panel_main_parent {
    padding: 10px;
    padding-bottom: 0;
}

.this_is_block_panel_main {
    padding: 10px;
    padding-bottom: 0;
    overflow: hidden;
    background: white;
    border: 1px solid #ddd;
}

.this_is_header_block_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    background: #fafafa;
}

.this_is_block_panel_main .this_is_header_block_panel .this_is_header_left_block_panel {
    display: flex;
    align-items: center;
    padding: 10px;
}

.this_is_block_panel_main .this_is_header_block_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    background: #fafafa;
}

.this_is_block_panel_main .this_is_block_title {
    padding-left: 5px;
    font-family: SourceSansPro;
    font-weight: 600;
    font-size: 1.12em;
}

.this_is_content_block_panel {
    padding: 10px;
}

.main_panel_rating_of_viewer_panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.content_panel_rating_of_viewer_panel {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    padding-bottom: 5px;
}

.header_panel_rating_of_viewer_panel {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.body_panel_rating_of_viewer_panel {
    display: flex;
    align-items: center;
}

.padding_left_with_col .this_is_block_panel_main_parent {
    padding-left: 5px;
}

.this_is_block_panel_main_parent {
    padding: 10px;
    padding-bottom: 0;
}

.gwt-HTML {
    padding: 0 0px;
}

.row-info-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    padding-right: 5px;
    text-align: left;
}

.row-info-panel label {
    margin-bottom: 0;
    margin-right: 5px;
    color: #333;
}

.text_font {
    font-size: 15px;
}

.text-though-line-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pie_chart {
    display: flex;
    align-items: flex-start;
}

.pie-chart .item-label-pie-chart {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px 0;
}

.col-6 .fix {
    margin-left: 40%;
}

.chart_fix {
    display: block;
    width: 90%;
    height: 90%;
}

.col-6 .left {
    margin-top: 20%;
    color: #333;
}

.text-though-line-center:before {
    margin-right: 10px;
    content: "";
    width: 30%;
    height: 1px;
    background: #ddd;
}

.text-though-line-center:after {
    margin-left: 10px;
    content: "";
    width: 30%;
    height: 1px;
    background: #ddd;
}

.square {
    width: 5px;
    height: 5px;
    color: red;
}

.ODD {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.comment-item-panel {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 5px 0;
    margin: 5px 0;
}

.set_avar {
    width: 40px;
}

.AGB {
    padding-left: 10px;
    width: 100%;
}

.userCommentPanel {
    position: relative;
    display: flex;
    align-items: center;
}

.this_is_block_panel_main1 {
    padding: 10px;
    padding-bottom: 0;
    overflow: hidden;
    background: white;
}

.set_comment1 {
    margin-left: 2%;
    color: darkblue;
}

.set_comment2 {
    margin-left: 2%;
    font-size: 12px;
    color: #495057;
}

.set_comment3 {
    margin-left: 2%;
    font-size: 12px;
}

.set_icon {
    margin-left: 2%;
}
.set_video {
    width: 60%;
    height: 400px;
    margin-left: 20%;
}